wheel
numba
numpy
scipy
pandas
tqdm
networkx
matplotlib
symengine
seaborn
sbi
torch
# cupy
sympy
scikit-learn
jpype1
setuptools_scm
numpydoc
parameterized
cloud_sptheme
sphinx-bootstrap-theme
nbformat
nbconvert