sphinx
numpydoc
nbformat
nbsphinx
cloud_sptheme
sphinx_bootstrap_theme
setuptools_scm 
pypandoc_binary
sphinx_rtd_theme 
myst_parser   
sphinx-autoapi
sphinxcontrib-napoleon
sphinxcontrib-bibtex
furo
sphinx-gallery
Pillow
sphinx-autobuild  # dev-only: `make livehtml` for a live-reloading local preview
